
.centraliza-button{
    text-align: center;
}

.padding {
    padding: 15px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}


.nome_receita {
    padding-top: 40px;
    font-size: 35px;
    font-weight: bold;
}

.caixa-box{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
 }
 
 .box-receita{
    max-width: 1000px;
    flex-grow:4;
 }
 
 .box2{
    flex-grow: 1;
 }

 .bloco-ingredientes {
     display: flex;
     flex-wrap: wrap;
     justify-content: left;
 }

.tabela {
    margin-left: 25%;
    margin-top: 0px;
    padding: 5px;
    width: 50%;
    text-align: left;
    margin-bottom: 100px;
}

    .tabela thead {
        background-color: rgba(67, 181, 233, 0.575);
    }

.box-aside a {
    text-decoration: none;
    background-color: darksalmon;
    padding: 5px;
}

.contador-likes {
    display: flex;
    max-width: 150px;
    padding: 5px;
    background-color: thistle;
    align-items: center;
    justify-content: space-between;
    border: 1px solid orchid;
}

#contador {
    font-size: 25px;
}


/* estiliza conteúdo da história */
.imagem_hist {
    text-align: center;
}

.des_foto p {
    text-align: center;
    font-style: oblique;
    color: rgb(150, 150, 150);
    font-size: 15px;
}

/* style do footer */        
footer {
    clear: both;
}